/*======================Fonts======================

Teko - font-family: "Teko", sans-serif;
Anton - font-family: "Anton", sans-serif;
Bona Nova SC - font-family: "Bona Nova SC", serif;
Bebas Neue - font-family: "Bebas Neue", sans-serif;
Lora - font-family: "Lora", serif;
Playwrite GB S - font-family: "Playwrite GB S", cursive;

====================End Fonts====================*/

@import url(https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400..700;1,400..700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Teko:wght@300..700&display=swap);

/*======================Color Palette======================

Cream - #fce4a8
Red - #d71a21
Greyish Blue - #71969f
Dark Blue - #01334e

====================End Color Palette====================*/

* {
    box-sizing: border-box;
    /* Box Model Fix */
    margin: 0;
    padding: 0;
    border: 0;
}



/*make nav stay in place*/
.nav, .main-nav {
    position: sticky;
    top: 0px;
    padding: 10px 0px;
    width: 100%;
}

.nav li{
    list-style: none;
}

.logo,
.main-nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    color: #fce4a8;
    text-decoration: none;
    font-family: "Bona Nova SC", serif;
}

.nav {
    margin-top: 5px;
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #71969f;
    background-color:  #01334e;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    border-radius: 1px;
}
/*========================================
    CSS GRID RULES
=========================================*/

.fltRight {
    float: right;
    margin: 0 0 15px 20px;
        /*  T R   B    L*/
}

.fltLeft {
    float: left;
    margin: 0 15px 20px 0;
}

.container {
    display: grid;
}

#header {
    background-image: url(../images/6261650491_0b33b73b18_k.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:bottom;
    min-height: 500px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h2 {
    color:#fce4a8;
    font-family: "Bona Nova SC", serif;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    background-color: #71969f9e ;
    padding: 2%;
    border-radius: 2em;
    box-shadow: 0PX 0PX 14PX 0PX rgba(255,255,255,0.75);
}

 .one h2, .two h2, .three h2, .four h2, .five h2, .six h2, .seven h2 {
    font-family: "Anton", sans-serif;
    text-align: center;
    padding: 1%;
    font-size:60px ;
    
 }

 .semi {
    display: flex;
    flex-direction: column;
    padding: 2%;
    box-shadow: 0PX 0PX 14PX 0PX rgba(255,255,255,0.75);
 }

 .round {
    border-radius: 2em;
 }

 .semi-red {
    background-color: #d71a204c ;
 }

 .semi-cream {
    background-color: #fce4a882;
 }

 .semi-grayblue {
    background-color:#71969f7a ;
 }

 .semi-blue{
    background-color: #01334e66;
 }

.one {
    min-height: 500px;
    background-image: url(../images/american-flag-usa-united-states-preview.jpg);
    background-repeat: none;
    background-size: cover;
    font-size: 25px;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    color: #fce4a8;
}

.two {
    min-height: 250px;
    background-color:#71969f ;
    color: #fce4a8; 
    font-size:25px;
    padding: 10%;
}


.three {
    background-image: url(../images/9863017573_24fa61962a_c.jpg);
    min-height: 450px;
    background-repeat: none;
    background-size: cover;
    background-position-x: right;
    background-position-y: top;
}

.four {
    min-height: 250px;
    padding: 10%;
    justify-content: center;
    font-size: 30px;
    background-color: #01334e;
    color: #d71a21;
    
}

.five {
    min-height: 250px;
    padding: 10%;
    justify-content: center;
    color: #fce4a8;
    background-color: #d71a21;
    font-size: 30px;
}

.six {
    min-height: 450px;
    background-image: url(../images/pexels-edmond-dantes-7103103.jpg);
    background-repeat: none;
    background-size: cover;
    background-position-x:left ;
    background-position-y: bottom;
    
}

.seven {
    min-height: 250px;
    padding: 10%;
    background-color: #71969f;
    font-size: 30px;
    color: #fce4a8;
    
}


/*-------- Responsive Images -------*/
img {
    width: 100%;
    padding: 2%;
}



/*-------- Tablet Media Query --------*/
@media screen and (min-width: 769px) {
    .nav,
    .main-nav {
        display: flex;
    }

    .nav {
        flex-direction: column;
        align-items: center;
        .nav {
            width: 80%;
            margin: 0 auto;
            max-width: 1150px;
        }
    }

    #header {
        min-height: 500px;
    }

    .header h2 {
        font-size: 2.1rem;
    }

    .container {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(100px,auto);
    }

    .one {
        grid-column: 1/3;
    }

    .two {
        grid-column: 1/2;
        grid-row: 2/4;
    }

    .three {
        grid-column: 2/3;
        grid-row: 2/4;
    }

    .four {
        grid-column: 1/3;
    }

    .five {
        grid-column: 1/3; 
    }

    .six {
        grid-column: 1/2;
    }

    .seven {
        grid-column: 2/3;
    }

}
/*-------- End of Tablet Media Query --------*/

/*-------- Desktop Media Query --------*/
@media screen and (min-width: 1025px) {
    
    .nav {
        flex-direction: row;
        justify-content: space-between;
    }

    #header {
        min-height: 800px;
    }

    .header h2 {
        font-size: 4rem;
        text-align: center;
    }

    .container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .one {
        grid-column: 1/4;
    }

    .two {
        grid-column: 1/3;
    }

    .three {
        grid-column: 3/4;
    }

    .four {
        grid-column: 1/4;
    }

    .five {
        grid-column: 1/4;
    }

    .six {
        grid-column: 1/2;
    }

    .seven {
        grid-column: 2/4;
    }

}
/*-------- End Desktop Media Query --------*/

/*-------- Large Display Media Query --------*/
@media screen and (min-width: 1850px) {
    
    .nav {
        flex-direction: row;
        justify-content: space-between;
    }

}
/*-------- End Large Display Media Query --------*/

footer {
    margin-top: 0;
    padding: 10%;
    background-color: #01334e;
    color: #fce4a8;
    min-height: 300px;
    font-family: "Playwrite GB S", cursive;
}